main {
  padding: 40px;
}

.fieldgroup {
  margin: 20px 0;
}

.submit {
  margin: 20px 0;
}

.property-counts {
  background-color: white;
}

.property-counts .found-property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.property-counts .found-paths {
  background-color: white;
}
