.modify-property-container {
  margin: 20px 10px;
}

.modify-property .fieldgroup > * {
  margin: 10px;
}

.modify-property .submit {
  margin-left: 10px;
}

.updating-ellipsis::after {
    content: "";
    animation: ellipsis-animation 1s infinite;
}    

/* remove and replace with proper sl-select type */
select {
  width: 100%;
  display: block;
  padding: 5px 12px;
  line-height: var(--sl-field-height);
  font-family: var(--font-family);
  font-size: var(--sl-field-font-size);
  border-radius: var(--s2-radius-100);
  outline-color: var(--s2-blue-900);
  outline-offset: 0;
  transition: outline-offset 0.2s;
  border: var(--sl-field-border);
  box-sizing: border-box;
}

@keyframes ellipsis-animation {
    0% { content: ""; }
    33% { content: "."; }
    66% { content: ".."; }
    100% { content: "..."; }
}
