.modify-property-container {
  min-height: 150px;
  margin-top: 20px;
}

.modify-property .fieldgroup > * {
  margin: 10px;
}

.modify-property .submit {
  margin-left: 10px;
}

.updating-ellipsis::after {
    content: "";
    animation: ellipsis-animation 1s infinite;
}    

@keyframes ellipsis-animation {
    0% { content: ""; }
    33% { content: "."; }
    66% { content: ".."; }
    100% { content: "..."; }
}
