:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-800) auto var(--spacing-800) auto;
}

h1 {
  font-size: var(--type-heading-xxl-size);
  line-height: var(--spectrum-line-height-100);
  margin: 0 0 6px;
}

h2 {
  margin: 0 0 8px;
}

p {
  font-size: var(--s2-font-size-200);
  line-height: var(--type-body-m-lh);
  margin: 0 0 24px;
}

.form-row {
  margin-bottom: 32px;
}

.submit-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}
