
main {
  padding: 0 8px;
}

main > div {
  margin: 16px 0;
  transition: outline-color 0.6s ease;
}

main > div.live-highlight {
  outline: 2px solid #ff5a00;
  outline-offset: 7px;
}

main > div > div {
  padding: 4px;
  outline: 2px solid #dadada;
  overflow-wrap: break-word;
}

main img {
  max-width: 100%;
  height: auto;
  display: block;
}
